html {
    margin: 0;
     padding: 0;
     }
body {
    background: #3c5e97;
	background image: url('styletype.jpg')
	background: linear-gradient(-135deg, #3c5e97, #65a0ff, #3c5e97;
	font-family: 80% Germania One;
	line-height: 1.88889;
	color: #000000; 
	margin: 0; 
	padding: 0;
	background-repeat: no-repeat;
    background-attachment: fixed;
 
  }
p { 
  font-family: Germania One; font-size: 28px; 
   font-style: italic; 
    font-variant: normal; 
   font-weight: 700; 
      line-height: 40px
       text-align: center;
       color: #cafce8;
   }
h1 {
 font-family: Germania One; font-size: 48px; 
  font-style: bold; 
     line-height: 40px;
      text-align: center;
      color: #7cc1a3;
  margin-top: 0;
       }
       
h2 {
      font-family: Germania One; font-size: 36px; 
       font-style: italic; 
        font-variant: normal; 
       font-weight: 700; 
  line-height: 40px;
   text-align: center;
   color: #7cc1a3;
   }
h3 { 
      font-family: Germania One; font-size: 24px; 
       font-style: italic; 
        font-variant: normal; 
       font-weight: 700; 
  line-height: 40px;
   text-align: center;
   color: #7cc1a3;
 }

h4 { 
      font-family: Germania One; font-size: 18px; 
       font-style: italic; 
        font-variant: normal; 
       font-weight: 700; 
  line-height: 40px;
   text-align: center;
   color: #7cc1a3;
 }
/* unvisited link */
a:link {
  color: deeppink;
}

/* visited link */
a:visited {
  color: cyan;
}

/* mouse over link */
a:hover {
  color: gold;
}

/* selected link */
a:active {
  color: blue; 
  
