body {
  margin: 0;
  font-family: "Carol Gothic", sans-serif;
  color: ##1F2437;
  background: linear-gradient(-135deg, #0d0513, #280f3a, #501e74, #993add, #993add, #993add, #712ba4, #501e74, #441a63, #180922);
  background-size: 400% 400%;
  animation: dreamyBG 15s ease infinite;
  overflow-x: hidden;
}

  100% { transform: scale(2.5); opacity: 0; }
}
