html {
   html, body {
  background: radial-gradient(circle,  #8EB9FC, ##1D4B73);
  min-height: 100vh; /* Ensure the background covers the full screen */
  margin: 0;
    background-attachment: fixed; /* Optional: prevents gradient scroll */
    line-height: 1.5; /* Standard readable line height */
	background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'amador', sans-serif;
 
  }
p { 
  font-family: 'amador'; font-size: 26px; 
   font-style: regular; 
    font-variant: normal; 
   font-weight: 700; 
      line-height: 40px
       text-align: center;
       color: #1C1947;
   }
h1 {
 font-family: 'amador'; font-size: 89px; 
  font-style: bold; 
     line-height: 105px;
      text-align: center;
      color: #373280;
  margin-top: 0;
       }
       
h2 {
      font-family: 'amador'; font-size: 36px; 
       font-style: italic; 
        font-variant: normal; 
       font-weight: 700; 
  line-height: 40px;
   text-align: center;
   color: #9C95F5;
   }
h3 { 
      font-family: 'amador'; font-size: 24px; 
       font-style: italic; 
        font-variant: normal; 
       font-weight: 700; 
  line-height: 40px;
   text-align: center;
   color: #9C95F5;
 }

h4 { 
      font-family: 'amador'; font-size: 18px; 
       font-style: italic; 
        font-variant: normal; 
       font-weight: 700; 
  line-height: 40px;
   text-align: center;
   color: #261BAB;
 }
/* unvisited link */
a:link {
  color: #4A4770;
}

/* visited link */
a:visited {
  color: #2952CC;
}

/* mouse over link */
a:hover {
  color: gold;
}

/* selected link */
a:active {
  color: #9C95F5; 
