body {
  margin: 0;
  /* set background height to fill the viewpoint */
  color: ##1F2437;
  /* degree, color 1, color 2,*/
  background: linear-gradient(-135deg, #501e74, #993add, #993add);
  background-size: 400% 400%;
}

  100% { transform: scale(2.5); opacity: 0; }
}
